<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل مدیریت دانشگاه</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="admin-container">
        <div class="admin-panel">
            <h2>پنل مدیریت</h2>
            <div class="panel-menu">
                <button id="lessonsBtn" data-action="add-course">درس‌ها</button>
                <button id="addUserBtn" data-action="add-user">اضافه کردن کاربر</button>
                <button id="viewUsersBtn" data-action="view-users">مشاهده کاربران</button>
                <button id="viewLessonsBtn" data-action="view-courses">مشاهده لیست دروس</button>
            </div>
        </div>

        <div class="main-content">
            <!-- محتوای اصلی از طریق JS اضافه می‌شود -->
        </div>
    </div>
    <script src="admin.js"></script>
</body>

</html>